<div class="max-w-screen-md mx-auto bg-gray-400">
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-8 bg-gray-500">
      1
    </div>
    <div class="col-span-12 md:col-span-4 bg-gray-500">
      2
    </div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
  </div>
</div>
<div>
  <h1>Hello</h1>
  <input class="mt-1 block shadow focus:outline-none border-gray-300 p-1 focus:border-gray-100 focus:ring-0 focus:ring-indigo-200 focus:ring-opacity-50" type="text">
</div>
